* {
	box-sizing: border-box;
}

:root {
	--main-col: #0a192e;
	--main-light: #e5e3f9;
	--alt-col: #1a53ff;
	--alt-light: #1a53ff;
	--horiz-margin: 0.5rem;
}

body {
	line-height: 1.5;
	color: var(--main-col);
}

nav ul {
	display: flex;
	justify-content: space-around;
	margin: 2rem 0 0 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

a:hover {
	color: var(--main-col);
	border-bottom: 2px solid var(--main-col);
}

img {
	max-width: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	background: #fff;
	border-radius: 0.5rem;
	overflow: hidden;
}

.card:last-of-type {
	margin-bottom: 0;
}

.card h3, .card p:not(.card-btns) {
	padding: var(--horiz-margin);
}

.card .image {
	position: relative;
	z-index: 10;
	height: 14rem;
	overflow: hidden;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.svg-img{
    margin-right: 1rem;
    background-color: #E8EFF7;
    padding: .1rem;
    border-radius: 15%;
}
.svg-img:last-child{
    margin-right: 0;
}
